.fileHandling {
    position: relative;
    left: 20px;
    border: 2px;
    border-color: rgb(156, 156, 156);
    border-radius: 8px;
    margin-top: 10px;
}

.errorMessage {
    position: relative;
    color: rgb(217, 0, 0);
}