.appTitle {
  border-radius: 20px;
  background-color: rgba(50, 62, 200, 0.9);
  color: rgb(255, 255, 255);
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.dashboardBody {
  display: flex;
  overflow: auto;
  border-radius: 20px;
}

.fileinput {
  position: absolute;
  left: 48%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 14px 10px 22px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background: white;
  width: 400px;
}
